.App {
  background-image: url('/health-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
}
